# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data & outputs
data/
outputs/
reports/
models/

# OS / IDE
.DS_Store
.idea/

# requirements.in
requirements.in
requirements-dev.in